<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>価格差チェック</title>
</head>
<body>
    <style>
        caption{text-align:left;}
        /* table{width:200px;border-collapse:collapse;} */
        /* table td{border: 1px solid #000;} */
    </style>

    <script type="text/javascript" src="{{ url_for('static', filename='js/getTicker.js') }}"></script>

    <script type="text/javascript">
        /* 初期設定 */
        window.myp = {}; 
        const Traders = { 0:{trader:'Binance' , api:'getTickerBi', askcell:{}, bidcell:{}, },
                          1:{trader:'FTX'     , api:'getTickerFx', askcell:{}, bidcell:{}, },
                          2:{trader:'KuCoin'  , api:'getTickerKc', askcell:{}, bidcell:{}, },
                          3:{trader:'Bitstamp', api:'getTickerBs', askcell:{}, bidcell:{}, },
                          4:{trader:'Poloniex', api:'getTickerPn', askcell:{}, bidcell:{}, },
                          5:{trader:'Bittrex' , api:'getTickerBt', askcell:{}, bidcell:{}, },
                          6:{trader:'OKEx'    , api:'getTickerEx', askcell:{}, bidcell:{}, },
                          7:{trader:'Liquid'  , api:'getTickerLq', askcell:{}, bidcell:{}, },}
        const Pairs = { 0:'BTC/USD(T)', 1:'ETH/USD(T)', 2:'XRP/USD(T)', 3:'BNB/USD(T)'}
        window.myp.Traders = Traders;
        window.myp.Pairs   = Pairs;

        window.onload = function() {
            /* TBLヘッダ設定 */
            let tbls = document.getElementsByTagName('table');
            let tblhead = tbls.item(0).tHead;
            for(let cidx = 1; cidx < tblhead.rows[0].cells.length; cidx++)
                tblhead.rows[0].cells[cidx].textContent = Pairs[cidx-1];

            let tblbody = tbls.item(0).tBodies.item(0);
            for(let ridx = 0; ridx < tblbody.rows.length; ridx++)
                tblbody.rows[ridx].cells[0].textContent = Traders[ridx].trader;

            /* Bid/Ask取得 */
            for(let ridx = 0; ridx < tblbody.rows.length; ridx++) {
                for(let cidx = 1; cidx < tblbody.rows[ridx].cells.length; cidx+=2) {
                    let pair    = Pairs[(cidx-1)/2];
                    let bidcell = tblbody.rows[ridx].cells[cidx];
                    let askcell = tblbody.rows[ridx].cells[cidx+1];
                    let method  = Traders[ridx].api;

                    const sndprm  = {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({'pair':pair})
                    };
                    fetch(method, sndprm).then(res => {
                        return res.json();
                    }).then(data => {
                        bidcell.textContent = data['bid'];
                        askcell.textContent = data['ask'];
                    });
                }
            }

            // 最大値のオブジェクト検索
            // const max = data.reduce(function(prev, current) {
            //     return (prev.y > current.y) ? prev : current
            // }); //returns object
            // 最大値のオブジェクト検索2
            // const max = data.reduce((prev, current) => (prev.y > current.y) ? prev : current)

        };

        /*  */
        function reGetTicker() {
            return number * number;
        }
    </script>

    <table border="1">
        <caption text-align="left">現在値</caption>
        <thead>
            <tr>
                <th>通貨ペア</th><th colspan="2">BTC/USD(T)</th><th colspan="2">ETH/USD(T)</th><th colspan="2">XRP/USD(T)</th><th colspan="2">BNB/USD(T)</th>
            </tr>
            <tr>
                <th>業者</th><th>Bid</th><th>Ask</th><th>Bid</th><th>Ask</th><th>Bid</th><th>Ask</th><th>Bid</th><th>Ask</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Binance</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>FTX</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>KuCoin</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bitstamp</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Poloniex</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bittrex</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>OKEx</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Liquid</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
