<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <title>価格差チェック</title>
</head>
<body>
    <style>
        caption{text-align:left;}
        /* table{width:200px;border-collapse:collapse;} */
        /* table td{border: 1px solid #000;} */
    </style>

    <script type="text/javascript" src="{{ url_for('static', filename='js/getTicker.js') }}"></script>

    <script type="text/javascript">
        /* 初期設定 */
        const BrokerInfos = {bi:{BTC_USDT:{broker:'Binance' , api:'getTickerBi', askcell:{}, bidcell:{}},
                                 ETH_USDT:{broker:'Binance' , api:'getTickerBi', askcell:{}, bidcell:{}},
                                 XRP_USDT:{broker:'Binance' , api:'getTickerBi', askcell:{}, bidcell:{}},
                                 BNB_USDT:{broker:'Binance' , api:'getTickerBi', askcell:{}, bidcell:{}}},
                                 //--------
                             fx:{BTC_USDT:{broker:'FTX'     , api:'getTickerFx', askcell:{}, bidcell:{}},
                                 ETH_USDT:{broker:'FTX'     , api:'getTickerFx', askcell:{}, bidcell:{}},
                                 XRP_USDT:{broker:'FTX'     , api:'getTickerFx', askcell:{}, bidcell:{}},
                                 BNB_USDT:{broker:'FTX'     , api:'getTickerFx', askcell:{}, bidcell:{}}},
                                 //--------
                             kc:{BTC_USDT:{broker:'KuCoin'  , api:'getTickerKc', askcell:{}, bidcell:{}},
                                 ETH_USDT:{broker:'KuCoin'  , api:'getTickerKc', askcell:{}, bidcell:{}},
                                 XRP_USDT:{broker:'KuCoin'  , api:'getTickerKc', askcell:{}, bidcell:{}},
                                 BNB_USDT:{broker:'KuCoin'  , api:'getTickerKc', askcell:{}, bidcell:{}}},
                                 //--------
                             bs:{BTC_USDT:{broker:'Bitstamp', api:'getTickerBs', askcell:{}, bidcell:{}},
                                 ETH_USDT:{broker:'Bitstamp', api:'getTickerBs', askcell:{}, bidcell:{}},
                                 XRP_USDT:{broker:'Bitstamp', api:'getTickerBs', askcell:{}, bidcell:{}},
                                 BNB_USDT:{broker:'Bitstamp', api:'getTickerBs', askcell:{}, bidcell:{}}},
                                 //--------
                             pn:{BTC_USDT:{broker:'Poloniex', api:'getTickerPn', askcell:{}, bidcell:{}},
                                 ETH_USDT:{broker:'Poloniex', api:'getTickerPn', askcell:{}, bidcell:{}},
                                 XRP_USDT:{broker:'Poloniex', api:'getTickerPn', askcell:{}, bidcell:{}},
                                 BNB_USDT:{broker:'Poloniex', api:'getTickerPn', askcell:{}, bidcell:{}}},
                                 //--------
                             bt:{BTC_USDT:{broker:'Bittrex' , api:'getTickerBt', askcell:{}, bidcell:{}},
                                 ETH_USDT:{broker:'Bittrex' , api:'getTickerBt', askcell:{}, bidcell:{}},
                                 XRP_USDT:{broker:'Bittrex' , api:'getTickerBt', askcell:{}, bidcell:{}},
                                 BNB_USDT:{broker:'Bittrex' , api:'getTickerBt', askcell:{}, bidcell:{}}},
                                 //--------
                             ex:{BTC_USDT:{broker:'OKEx'    , api:'getTickerEx', askcell:{}, bidcell:{}},
                                 ETH_USDT:{broker:'OKEx'    , api:'getTickerEx', askcell:{}, bidcell:{}},
                                 XRP_USDT:{broker:'OKEx'    , api:'getTickerEx', askcell:{}, bidcell:{}},
                                 BNB_USDT:{broker:'OKEx'    , api:'getTickerEx', askcell:{}, bidcell:{}}},
                                 //--------
                             lq:{BTC_USDT:{broker:'Liquid'  , api:'getTickerLq', askcell:{}, bidcell:{}},
                                 ETH_USDT:{broker:'Liquid'  , api:'getTickerLq', askcell:{}, bidcell:{}},
                                 XRP_USDT:{broker:'Liquid'  , api:'getTickerLq', askcell:{}, bidcell:{}},
                                 BNB_USDT:{broker:'Liquid'  , api:'getTickerLq', askcell:{}, bidcell:{}}},};
        window.arb2 = {};
        window.arb2.Brokers= Object.keys(BrokerInfos);
        window.arb2.Pairs  = Object.keys(BrokerInfos['bi']);
        window.arb2.BrokerInfos = BrokerInfos;

        window.onload = function() {
            /* 前準備 */
            let tbls = document.getElementsByTagName('table');
            let tblhead = tbls.item(0).tHead;
            let tblbody = tbls.item(0).tBodies.item(0);

            function* GeneratorPair() {
                yield* window.arb2.Pairs;
            };

            function* GeneratorBroker() {
                yield* window.arb2.Brokers;
            };

            let genPair = GeneratorPair();
            for(let cidx = 1; cidx < tblhead.rows[0].cells.length; cidx++) {
                /* 通貨ペア設定 */
                let pair = genPair.next().value;
                tblhead.rows[0].cells[cidx].textContent = pair.replace('_', '/');
                let genBroker = GeneratorBroker();
                for(let ridx = 0; ridx < tblbody.rows.length; ridx++) {
                    /* 業者名設定 */
                    let brokerid = genBroker.next().value;
                    let brokerfullname = BrokerInfos[brokerid][pair].broker;
                    tblbody.rows[ridx].cells[0].textContent = brokerfullname;
                }
            }

            /* Bid/Ask取得用のパラメータ生成 */
            let rcvaskbids = [];
            let genBroker2 = GeneratorBroker();
            for(let ridx = 0; ridx < tblbody.rows.length; ridx++) {
                let brokerid= genBroker2.next().value;
                let genPair2 = GeneratorPair();
                for(let cidx = 1; cidx < tblbody.rows[ridx].cells.length; cidx+=2) {
                    let pair = genPair2.next().value;
                    let bidcell = tblbody.rows[ridx].cells[cidx];
                    let askcell = tblbody.rows[ridx].cells[cidx+1];
                    let method  = BrokerInfos[brokerid][pair].api;
                    BrokerInfos[brokerid][pair].bidcell = bidcell;
                    BrokerInfos[brokerid][pair].askcell = askcell;

                    const sndprm  = {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({'pair':pair})
                    };

                    fetch(method, sndprm).then(res => {
                        return res.json();
                    }).then(data => {
                        bidcell.textContent = data['bid'];
                        askcell.textContent = data['ask'];
                        /* 終了判定フラグに設定 */
                        rcvaskbids.push({data});
                        if(rcvaskbids.length >= (window.arb2.Pairs.length * window.arb2.Brokers.length)) {
                            findMinMax();
                        }
                    });
                }
            }

            function findMinMax() {
                for(const pair of window.arb2.Pairs) {
                    console.log(pair);
                    const filteredret = rcvaskbids.filter(rcv => (rcv.data.pair==pair && isNaN(rcv.data.bid)==false));
                    const minbuy = filteredret.reduce((prev, current) => (prev.data.ask < current.data.ask) ? prev : current);
                    const maxsel = filteredret.reduce((prev, current) => (prev.data.bid > current.data.bid) ? prev : current);

                    console.log('---------------------');
                    console.log(minbuy);
                    console.log('minask=' + minbuy);
                    console.log(maxsel);
                    console.log('maxask=' + maxsel);
                }
            };
            // 最大値のオブジェクト検索
            // const max = data.reduce(function(prev, current) {
            //     return (prev.y > current.y) ? prev : current
            // }); //returns object
            // 最大値のオブジェクト検索2
            // const max = data.reduce((prev, current) => (prev.y > current.y) ? prev : current)

        };
    </script>

    <table border="1">
        <caption text-align="left">現在値</caption>
        <thead>
            <tr>
                <th>通貨ペア</th><th colspan="2">BTC/USD(T)</th><th colspan="2">ETH/USD(T)</th><th colspan="2">XRP/USD(T)</th><th colspan="2">BNB/USD(T)</th>
            </tr>
            <tr>
                <th>業者</th><th>Bid</th><th>Ask</th><th>Bid</th><th>Ask</th><th>Bid</th><th>Ask</th><th>Bid</th><th>Ask</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Binance</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>FTX</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>KuCoin</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bitstamp</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Poloniex</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bittrex</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>OKEx</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Liquid</th><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
        </tbody>
    </table>

    <br/><br/>
    <span>投資金額(円) : </span><input type="number" id="InvestAmount" value="50000"><br/>
    <span>USDT換算(USDT) : </span><span>500</span> &emsp;&emsp; <span>※1ドル=100円で計算</span>

    <br/><br/>

    <table border="1">
        <caption text-align="left">BTC/USDT</caption>
        <thead>
            <tr>
                <th></th><th>送金1(送金手数料:USDT)</th><th>買い(BTC)</th><th>送金2(送金手数料:BTC)</th><th>売り(儲け:USDT)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Binance</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>FTX</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>KuCoin</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bitstamp</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Poloniex</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bittrex</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>OKEx</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Liquid</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
        </tbody>
    </table>

    <br/>

    <table border="1">
        <caption text-align="left">ETH/USDT</caption>
        <thead>
            <tr>
                <th></th><th>送金1(送金手数料:USDT)</th><th>買い(ETH)</th><th>送金2(送金手数料:ETH)</th><th>売り(儲け:USDT)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Binance</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>FTX</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>KuCoin</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bitstamp</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Poloniex</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bittrex</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>OKEx</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Liquid</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
        </tbody>
    </table>

    <br/>
    <table border="1">
        <caption text-align="left">XRP/USDT</caption>
        <thead>
            <tr>
                <th></th><th>送金1(送金手数料:USDT)</th><th>買い(XRP)</th><th>送金2(送金手数料:XRP)</th><th>売り(儲け:USDT)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Binance</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>FTX</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>KuCoin</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bitstamp</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Poloniex</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bittrex</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>OKEx</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Liquid</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
        </tbody>
    </table>

    <br/>
    <table border="1">
        <caption text-align="left">BNB/USDT</caption>
        <thead>
            <tr>
                <th></th><th>送金1(送金手数料:USDT)</th><th>買い(BNB)</th><th>送金2(送金手数料:BNB)</th><th>売り(儲け:USDT)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Binance</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>FTX</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>KuCoin</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bitstamp</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Poloniex</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Bittrex</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>OKEx</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
            <tr>
                <th>Liquid</th><td>---</td><td>---</td><td>---</td><td>---</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
